styles.css


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}


#chatbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.message-container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.user-message {
  align-self: flex-end;
  max-width: 70%;
  padding: 8px;
  background-color: #805ad5;
  color: white;
  border-radius: 10px;
  margin-bottom: 8px;
}

.chatbot-message {
  align-self: flex-start;
  max-width: 70%;
  padding: 8px;
  background-color: #3182ce;
  color: white;
  border-radius: 10px;
  margin-bottom: 8px;
}

/* Style for the input and button */
.input-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.message-input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #38a169;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #2f855a;
}
